@CHARSET "utf-8";

html, body {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0px;
    padding: 0px;
}

canvas {
    display: block;
    transform: translateY(50%);
    margin: 0 auto;
}
